<a href="https://colab.research.google.com/github/Kush-munot/DVA-Lab/blob/main/Practical_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Part A
Use fundamentals of Numpy and Pandas
1. Read the three csv files which contains the score of same students in term1 for each Subject
2. Remove the name and ethnicity column (to ensure confidentiality)
3. Fill missing score data with zero
4. Merge two files
5. Change Sex(M/F) Column to 1/2 for further analysis
6. Store the data in new file â€“ScoreFinal.csv
7. Convert ethnicity to numerical value
8. Fill the missing score for a student to the average of the class

In [2]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.25.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
import pandas as pd

df_subject1 = pd.read_csv('/content/DSScoreTerm1.csv')
df_subject2 = pd.read_csv('/content/MathScoreTerm1.csv')
df_subject3 = pd.read_csv('/content/PhysicsScoreTerm1.csv')

In [4]:
df_merged = pd.merge(df_subject1, df_subject2, on='ID')
df_merged = pd.merge(df_merged, df_subject3, on='ID')

In [5]:
df_subject1.drop(columns=['Name', 'Ethinicity'], inplace=True)
df_subject2.drop(columns=['Name', 'Ethinicity'], inplace=True)
df_subject3.drop(columns=['Name', 'Ethinicity'], inplace=True)

In [6]:
df_subject1.fillna(0, inplace=True)
df_subject2.fillna(0, inplace=True)
df_subject3.fillna(0, inplace=True)

In [7]:
df_merged['Sex'] = df_merged['Sex'].replace({'M': 1, 'F': 2})
df_merged['Sex_x'] = df_merged['Sex_x'].replace({'M': 1, 'F': 2})
df_merged['Sex_y'] = df_merged['Sex_y'].replace({'M': 1, 'F': 2})

In [8]:
df_merged.to_csv('ScoreFinal.csv', index=False)
print(df_merged)

                        Name_x  Score_x  Age_x       Ethinicity_x  \
0               AI-KYUNG CHUNG     82.0     18     White American
1                  ALAN HARVEY     79.0     19  European American
2                 ALAN REYNAUD     39.0     19  European American
3               ALBERT CENDANA     76.0     18     White American
4               ALBERT HOLT JR     76.0     18     White American
..                         ...      ...    ...                ...
594                    WING NG     39.0     19     White American
595                YIFANG QIAN     69.0     18     White American
596           ZACHARY PUMPHREY     47.0     20     White American
597  ZEBA IMAN NAZEERI-SIMMONS     69.0     20           Hispanic
598            ZHI JIAR ZHUANG      NaN     19           Hispanic

         Subject_x  Sex_x   ID                     Name_y  Score_y  Age_y  \
0    Data Structue      1    1             AI-KYUNG CHUNG     88.0     18
1    Data Structue      1    2                ALAN HARVEY     85.0     19
2    Data Structue      1    3               ALAN REYNAUD     45.0     19
3    Data Structue      1    4             ALBERT CENDANA     82.0     18
4    Data Structue      2    5             ALBERT HOLT JR     82.0     18
..             ...    ...  ...                        ...      ...    ...
594  Data Structue      2  595                    WING NG     45.0     19
595  Data Structue      1  596                YIFANG QIAN     75.0     18
596  Data Structue      1  597           ZACHARY PUMPHREY     53.0     20
597  Data Structue      1  598  ZEBA IMAN NAZEERI-SIMMONS     75.0     20
598  Data Structue      1  599            ZHI JIAR ZHUANG     88.0     19

          Ethinicity_y Subject_y  Sex_y                       Name  Score  \
0       White American     Maths      1             AI-KYUNG CHUNG   84.0
1    European American     Maths      1                ALAN HARVEY   81.0
2    European American     Maths      1               ALAN REYNAUD   41.0
3       White American     Maths      1             ALBERT CENDANA   78.0
4       White American     Maths      2             ALBERT HOLT JR   78.0
..                 ...       ...    ...                        ...    ...
594     White American     Maths      2                    WING NG   41.0
595     White American     Maths      1                YIFANG QIAN   71.0
596     White American     Maths      1           ZACHARY PUMPHREY   49.0
597           Hispanic     Maths      1  ZEBA IMAN NAZEERI-SIMMONS   71.0
598           Hispanic     Maths      1            ZHI JIAR ZHUANG   69.0

     Age         Ethinicity  Subject  Sex
0     18     White American  Physics    1
1     19  European American  Physics    1
2     19  European American  Physics    1
3     18     White American  Physics    1
4     18     White American  Physics    2
..   ...                ...      ...  ...
594   19     White American  Physics    2
595   18     White American  Physics    1
596   20     White American  Physics    1
597   20           Hispanic  Physics    1
598   19           Hispanic  Physics    1

[599 rows x 19 columns]

In [9]:
ethnicity_mapping = {'White American': 1, 'European American': 2, 'African American': 3, 'Hispanic': 4, 'Other': 5}
df_merged['Ethinicity'] = df_merged['Ethinicity'].map(ethnicity_mapping)

In [11]:
for subject in ['Score_x', 'Score_y', 'Score']:
    df_merged[subject].fillna(df_merged[subject].mean(), inplace=True)